body {
text-align: center;
background: #33393A;
font-family:"Courier New", Monospace;
padding: 100px;
}

/* DISABLES ANIMATIONS FOR HOVER ON PAGE LOAD */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* DIVs */

#post {
/*Colours and text*/
background: #ffffff;
/*Box*/
border: 2px solid #748978;
padding-top:10px;
padding-bottom:10px;
padding-left: 10px;
padding-right: 10px;
}

/* Classes */

/*The very pretty ZerytButton! Complete with animations*/
button.zerytButton {
/* Text stuff */
color: #33393A;
background: none;
/*Unbuttonisation*/
border: 0;
outline: none; 
/* Box */
background: #F2F1F0;
border-top: 2px solid #888A83;
border-bottom: 2px solid #748978;
border-left: 2px solid #888A83;
border-right: 2px solid #888A83;
box-shadow: 0px 1px 5px 0px #000000;
padding: 2px;
margin-top: 10px;
margin-bottom: 10px;
/* animation */
/* ANIMATION */
animation-name: UNHover;
animation-duration: 0.25s;
animation-timing-function: linear;
animation-iteration-count: 1;
animation-play-state: running;
/* Safari and Chrome: */
-webkit-animation-name: UNHover;
-webkit-animation-duration: 0.25s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: 1;
-webkit-animation-play-state: running;
}
.zerytButton:hover{
/*Style changes*/
border-bottom: 2px solid #14E942;
cursor: pointer;
outline: 0;
/* ANIMATION */
animation-name: hover;
animation-duration: 0.25s;
animation-timing-function: linear;
animation-iteration-count: 1;
animation-play-state: running;
/* Safari and Chrome: */
-webkit-animation-name: hover;
-webkit-animation-duration: 0.25s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: 1;
-webkit-animation-play-state: running;
}
.zerytButton:active {
/*Style changes*/
border-bottom: 2px solid #14E942;
cursor: pointer;
box-shadow: 0px 1px 2px 0px #000000;
/*Unbuttonisation*/
outline: 0;
}
.zerytButton:visited {
/*Unbuttonisation*/
outline: none; 
}

/* Animations */

/* NON-WEBKIT */
@keyframes hover {
0%{border-bottom: 2px solid #748978;}
20%{border-bottom: 2px solid #6A9372;}
40%{border-bottom: 2px solid #51AC63;}
60%{border-bottom: 2px solid #2DD04D;}
80%{border-bottom: 2px solid #25D848;}
100%{border-bottom: 2px solid #14E942;}
}
/*SAFARI AND CHROME*/
@-webkit-keyframes hover{
0%{border-bottom: 2px solid #748978;}
20%{border-bottom: 2px solid #6A9372;}
40%{border-bottom: 2px solid #51AC63;}
60%{border-bottom: 2px solid #2DD04D;}
80%{border-bottom: 2px solid #25D848;}
100%{border-bottom: 2px solid #14E942;}
}

/* NON-WEBKIT */
@keyframes UNHover {
0%{border-bottom: 2px solid #14E942;}
20%{border-bottom: 2px solid #25D848;}
40%{border-bottom: 2px solid #2DD04D;}
60%{border-bottom: 2px solid #51AC63;}
80%{border-bottom: 2px solid #6A9372;}
100%{border-bottom: 2px solid #748978;} 
}
/*SAFARI AND CHROME*/
@-webkit-keyframes UNHover{
0%{border-bottom: 2px solid #14E942;}
20%{border-bottom: 2px solid #25D848;}
40%{border-bottom: 2px solid #2DD04D;}
60%{border-bottom: 2px solid #51AC63;}
80%{border-bottom: 2px solid #6A9372;}
100%{border-bottom: 2px solid #748978;} 
}
