body {
font-family:arial,sans-serif;
background-color:#33393A;
background-image: 
linear-gradient(0deg, rgba(14, 16, 17,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(14, 16, 17,.3) 1px, transparent 1px);
background-size:20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
font-family:arial,sans-serif;
}

.bubble {
color: #000000;
}

.circle {
background: #ffffff;
border: 4px solid #748978;
box-shadow: 0px 0px 8px 0px #000000;
text-align: center;
line-height: 385px;
border-radius: 50%;
margin-left: calc(50% - 200px);
margin-right: calc(50% - 200px);
margin-top: calc(25% - 200px);
width: 396px;
height: 396px; 
}

/*The very pretty ZerytButton! Complete with animations*/
button.zerytButton {
/* Text stuff */
color: #33393A;
/*Unbuttonisation*/
border: 0;
outline: none; 
/* Box */
background: #F2F1F0;
/*border-top: 2px solid #888A83;*/
border-bottom: 2px solid #748978;
/*border-left: 2px solid #888A83;
border-right: 2px solid #888A83;*/
box-shadow: 0px 1px 5px 0px #000000;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 8px;
padding-right: 8px;
margin-top: 10px;
margin-bottom: 10px;
}
.zerytButton:hover{
/*Style changes*/
border-bottom: 2px solid #14E942;
cursor: pointer;
outline: 0;
/* ANIMATION */
animation-name: hover;
animation-duration: 0.25s;
animation-timing-function: linear;
animation-iteration-count: 1;
animation-play-state: running;
/* Safari and Chrome: */
-webkit-animation-name: hover;
-webkit-animation-duration: 0.25s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: 1;
-webkit-animation-play-state: running;
}
.zerytButton:active {
/*Style changes*/
border-bottom: 2px solid #14E942;
cursor: pointer;
box-shadow: 0px 0px 2px 0px #000000;
/*Unbuttonisation*/
outline: 0;
}
.zerytButton:visited {
/*Unbuttonisation*/
outline: none; 
}

/* Animations */

/* NON-WEBKIT */
@keyframes hover {
0%{border-bottom: 2px solid #748978;}
20%{border-bottom: 2px solid #6A9372;}
40%{border-bottom: 2px solid #51AC63;}
60%{border-bottom: 2px solid #2DD04D;}
80%{border-bottom: 2px solid #25D848;}
100%{border-bottom: 2px solid #14E942;}
}
/*SAFARI AND CHROME*/
@-webkit-keyframes hover{
0%{border-bottom: 2px solid #748978;}
20%{border-bottom: 2px solid #6A9372;}
40%{border-bottom: 2px solid #51AC63;}
60%{border-bottom: 2px solid #2DD04D;}
80%{border-bottom: 2px solid #25D848;}
100%{border-bottom: 2px solid #14E942;}
}
