/*zerytButton hover animation*/
/* NON-WEBKIT */
@keyframes zerytButtonHover {
0%{border-bottom: 2px solid #748978;}
20%{border-bottom: 2px solid #6A9372;}
40%{border-bottom: 2px solid #51AC63;}
60%{border-bottom: 2px solid #2DD04D;}
80%{border-bottom: 2px solid #25D848;}
100%{border-bottom: 2px solid #14E942;}
}
/*SAFARI AND CHROME*/
@-webkit-keyframes zerytButtonHover {
0%{border-bottom: 2px solid #748978;}
20%{border-bottom: 2px solid #6A9372;}
40%{border-bottom: 2px solid #51AC63;}
60%{border-bottom: 2px solid #2DD04D;}
80%{border-bottom: 2px solid #25D848;}
100%{border-bottom: 2px solid #14E942;}
}

/*zerytInput hover animation*/
/* NON-WEBKIT */
@keyframes zerytInputHover {
0%{border-bottom: 4px solid #748978;}
20%{border-bottom: 4px solid #6A9372;}
40%{border-bottom: 4px solid #51AC63;}
60%{border-bottom: 4px solid #2DD04D;}
80%{border-bottom: 4px solid #25D848;}
100%{border-bottom: 4px solid #14E942;}
}
/*SAFARI AND CHROME*/
@-webkit-keyframes zerytInputHover {
0%{border-bottom: 4px solid #748978;}
20%{border-bottom: 4px solid #6A9372;}
40%{border-bottom: 4px solid #51AC63;}
60%{border-bottom: 4px solid #2DD04D;}
80%{border-bottom: 4px solid #25D848;}
100%{border-bottom: 4px solid #14E942;}
}