@import url("animationStyles.css");

body{
		background: #2E3436;
		background-image: 
        linear-gradient(rgba(14, 16, 17,.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(14, 16, 17,.3) 1px, transparent 1px);
        background-size:20px 20px, 20px 20px;
        background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
		/*Font align and style*/
		color: #ffffff;
		text-align: center;
		font-family: 'Nobile', sans-serif;

		/*box*/
		margin-top: 75px;
}

@font-face {
font-family: Nobile;
src: url("/assets/font/Nobile-Regular.ttf") format('truetype');
}

/* MAIN STYLES*/

div.content {
	background: #ffffff;
	color: #000000;
	text-align: left;
	
	/*box*/
	padding: 5px;
	border: 4px #3D4548;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;

}

/*END MAIN STYLES*/

/* SIDEBAR STYLES*/

/*END SIDEBAR STYLES*/

/*NAV STYLES*/

div.nav{
	background: #1E2224;
	/* Position */
	position: fixed;
	width: 100%;
	height: 55px;
	top: 0px;
	left: 0px;
	/* padding etc ... */
	line-height: 55px;
	padding-left: 7.5%;
	padding-right: 7.5%;
	box-shadow: 0px 0px 5px 0px #000000;
	margin: 0px;
	/* Text */
	text-align: left;
	vertical-align: middle;
	color:#F9F1FB;
	/*make everthing horizontal*/
	display:inline;
}

img.logo {
	z-index: 100;
	/* Position */
	position: fixed;
	top: 0px;
	left: 0px;
	
	/*BOX*/
	width: auto;
	height: 40px;
	margin: 7.5px;
}

/*END NAV STLYES*/

/*ELEMENTS*/

/*The very pretty ZerytButton! Complete with animations*/
button.zerytButton {
/* Text stuff */
color:#ffffff;
background:#41494C;
/*Unbuttonisation*/
border: 0;
outline: none; 
/* Box */
line-height: 26px;
/*border-top: 2px solid #888A83;*/
border-bottom: 2px solid #748978;
/*border-left: 2px solid #888A83;
border-right: 2px solid #888A83;*/
box-shadow: 0px 1px 5px 0px #000000;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 8px;
padding-right: 8px;
margin-top: 10px;
margin-bottom: 10px;
}
.zerytButton:hover{
/*Style changes*/
border-bottom: 2px solid #14E942;
cursor: pointer;
outline: 0;
/* ANIMATION */
animation-name: hover;
animation-duration: 0.25s;
animation-timing-function: linear;
animation-iteration-count: 1;
animation-play-state: running;
/* Safari and Chrome: */
-webkit-animation-name: hover;
-webkit-animation-duration: 0.25s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: 1;
-webkit-animation-play-state: running;
}
.zerytButton:active {
/*Style changes*/
border-bottom: 2px solid #14E942;
cursor: pointer;
box-shadow: 0px 0px 2px 0px #000000;
/*Unbuttonisation*/
outline: 0;
}
.zerytButton:visited {
/*Unbuttonisation*/
outline: none; 
}
