body{
		background: #2E3436;
		background-image: 
        linear-gradient(rgba(14, 16, 17,.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(14, 16, 17,.3) 1px, transparent 1px);
        background-size:20px 20px, 20px 20px;
        background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
		/*Font align and style*/
		color: #ffffff;
		text-align: center;
		font-family: 'Nobile', sans-serif;

		/*box*/
		margin-top: 75px;
}

@font-face {
font-family: Nobile;
src: url("/assets/font/Nobile-Regular.ttf") format('truetype');
}

/* MAIN STYLES*/

div.content {
	background: #ffffff;
	color: #000000;
	text-align: left;
	
	/*box*/
	padding: 5px;
	border: 4px #3D4548;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;

}

/*END MAIN STYLES*/

/* SIDEBAR STYLES*/

/*END SIDEBAR STYLES*/

/*NAV STYLES*/

div.nav{
	background: #1E2224;
	/* Position */
	position: fixed;
	width: 100%;
	height: 55px;
	top: 0px;
	left: 0px;
	/* padding etc ... */
	line-height: 55px;
	padding-left: 7.5%;
	padding-right: 7.5%;
	box-shadow: 0px 0px 5px 0px #000000;
	margin: 0px;
	/* Text */
	text-align: left;
	vertical-align: middle;
	color:#F9F1FB;
	/*make everthing horizontal*/
	display:inline;
}

img.logo {
	z-index: 100;
	/* Position */
	position: fixed;
	top: 0px;
	left: 0px;
	
	/*BOX*/
	width: auto;
	height: 40px;
	margin: 7.5px;
}

/*END NAV STLYES*/