body {
    background-image: url("/assets/dam.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
footer {
            background-color: #333;
            width: 100%;
            bottom: 0;
            position: fixed;
}