/*Owen Holloway 2013 zerytsoft*/
body {
background-color:#ffffff;
background-image: 
linear-gradient(rgba(14, 16, 17,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(14, 16, 17,.3) 1px, transparent 1px);
background-size:20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
padding-top: 60px;
font-family:arial,sans-serif;
}

/* DISABLES ANIMATIONS FOR HOVER ON PAGE LOAD */
body.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#content{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0px 0px 5px 0px;
	background: #E8E8E8;
	border: 4px solid #424242;
	margin-left: 200px;
	margin-right: 8px;
	margin-bottom: 4px;
}

#loginBox{
	text-align: center;
	padding: 5px;
	box-shadow: 0px 0px 5px 0px;
	background: #E8E8E8;
	border: 4px solid #424242;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
}

betterButton {
/* wrapping */
background: #2E3436;
color: #ffffff;
border-bottom: 2px solid #F9F1FB;
box-shadow: 0px 0px 10px 0px #000000;
height: 28px;
/* padding etc ... */
padding-left: 10px;
padding-right: 10px;
padding-top: 3px;
padding-bottom: 3px;
margin-right: 10px;
}

betterButton:hover {
/* active elements */
border-bottom: 2px solid #16DC0C;
cursor: pointer;
/* ANIMATION */
animation-name: buttonHover;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: 1;
animation-play-state: running;
/* Safari and Chrome: */
-webkit-animation-name: buttonHover;
-webkit-animation-duration: 0.5s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: 1;
-webkit-animation-play-state: running;
}

betterButton:active {
/* active elements */
border-bottom: 2px solid #82F87C;
box-shadow: 0px 0px 2px 0px #000000;
cursor: pointer;
}

input#betterTextBox {
	/* wrapping */
	background: #2E3436;
	color: #FFFFFF;
	border: none;
	border-bottom: 4px solid #2E3436;
	height: 28px;
	/* padding etc ... */
	margin: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
input#betterTextBox:hover{
	border-bottom: 4px solid #16DC0C;
}
input#betterTextBox:active{
	border-bottom: 4px solid #16DC0C;
}
input#betterTextBox:focus{
	border-bottom: 4px solid #16DC0C;
	outline: 0;
}

#leftWrapper {
	height: calc(100% - 26px);
	width: 20%;
	position: fixed;
	top: 22px;
	left: 2px;
	border: 2px solid #424242;
}

#rightWrapper {
	height: calc(100% - 26px);
	width: 20%;
	position: fixed;
	top: 22px;
	left: calc(80% - 6px);
	border: 2px solid #424242;
}

h1{font-family:"Courier New", Monospace;}
h2{font-family:"Courier New", Monospace;}
h3{font-family:"Courier New", Monospace;}
h4{font-family:"Courier New", Monospace;}
h5{font-family:"Courier New", Monospace;}
h6{font-family:"Courier New", Monospace;}

p{font-family:"Courier New", Monospace;}
t{font-family:"Courier New", Monospace;}
li{font-family:"Courier New", Monospace;}
betterButton{font-family:"Courier New", Monospace;}

/* ANIMATIONS */

/* NON-WEBKIT */
@keyframes buttonHover {
0%{border-bottom: 2px solid #F9F1FB;}
20%{border-bottom: 2px solid #BCFBB9;}
40%{border-bottom: 2px solid #82F87C;}
60%{border-bottom: 2px solid #50F547;}
80%{border-bottom: 2px solid #18F20D;}
100%{border-bottom: 2px solid #16DC0C;}
}
/*SAFARI AND CHROME*/
@-webkit-keyframes buttonHover{
0%{border-bottom: 2px solid #F9F1FB;}
20%{border-bottom: 2px solid #BCFBB9;}
40%{border-bottom: 2px solid #82F87C;}
60%{border-bottom: 2px solid #50F547;}
80%{border-bottom: 2px solid #18F20D;}
100%{border-bottom: 2px solid #16DC0C;} 
}

/* NON-WEBKIT */
@keyframes buttonUNHover {
0%{border-bottom: 2px solid #16DC0C;}
20%{border-bottom: 2px solid #18F20D;}
40%{border-bottom: 2px solid #50F547;}
60%{border-bottom: 2px solid #82F87C;}
80%{border-bottom: 2px solid #BCFBB9;}
100%{border-bottom: 2px solid #F9F1FB;} 
}
/*SAFARI AND CHROME*/
@-webkit-keyframes buttonUNHover{
0%{border-bottom: 2px solid #16DC0C;}
20%{border-bottom: 2px solid #18F20D;}
40%{border-bottom: 2px solid #50F547;}
60%{border-bottom: 2px solid #82F87C;}
80%{border-bottom: 2px solid #BCFBB9;}
100%{border-bottom: 2px solid #F9F1FB;} 
}
